body{
    background-size: cover;
}
.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
#start,#number_of_object,#status{
    font-size: 18px;
}
.copyrightfooter{
    position:fixed;
    background-color: rgb(73, 241, 6);
    bottom: 0;
    width: 100%;
    color: purple;
    line-height: 3;
    text-align: center;

}
canvas{
    border-radius: 10px;
    border: 2px solid white;
    margin-top: 130px;
    box-shadow: 5px 5px 5px white;
}
